.login {
    margin: 50px auto;
    width: 30%;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.container {
    text-align: center;
}

@media (max-width: 768px) {
    .login {
        width: 50%;
    }
}