* {
    padding: 0;
    margin: 0;
    font-family: arial, serif;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #3d5af1;
    display: inline-block;
}

a:hover {
    color: slategray;
}

input,
button {
    border: 1px solid lightgray;
    padding: 5px;
}

button,
.btn {
    cursor: pointer;
    background-color: #3d5af1;
    color: #fff;
    border: none;
    transition: .3s;
}

button:hover,
.btn:hover {
    background-color: azure;
    color: #3d5af1;
}

/* -=-=-=-=-=-=-=-=-=-=-=-=- CSSku -=-=-=-=-=-=-=-=-=-=-=-=- */
.mt5 {
    margin-top: 50px;
}

/* -=-=-=-=-=-=-=-=-=-=-=-=- Nav -=-=-=-=-=-=-=-=-=-=-=-=- */
nav {
    padding: 10px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 1px lightgray;
}

nav h1 {
    font-family: 'Roboto', sans-serif;
}

.btn {
    padding: 10px;
}

nav input {
    width: 400px;
}

/* -=-=-=-=-=-=-=-=-=-=-=-=- Container -=-=-=-=-=-=-=-=-=-=-=-=- */
.container {
    padding: 20px 5%;
}

/* -=-=-=-=-=-=-=-=-=-=-=-=- Header -=-=-=-=-=-=-=-=-=-=-=-=- */
header {
    display: grid;
    gap: 10px;
    grid-template-areas:
        'slider kategori1 kategori2'
        'slider kategori3 kategori4';
    min-height: 300px;
}

/* -=-=-=-=-=-=-=-=-=-=-=-=- Slider -=-=-=-=-=-=-=-=-=-=-=-=- */
.slider {
    grid-area: slider;
    background-color: black;
    overflow: hidden;
    min-width: 500px;

}

.slide {
    display: flex;
    min-width: 500%;
    height: 100%;
    /* transform: translateX(-20%); */
}

.slide>* {
    background-size: cover;
    background-position: center;
    width: 100%;
}

.img1 {
    background-image: url(./img/slide/1.jpeg);
}

.img2 {
    background-image: url(./img/slide/2.jpeg);
}

.img3 {
    background-image: url(./img/slide/3.jpeg);
}

.img4 {
    background-image: url(./img/slide/4.jpeg);
}

.img5 {
    background-image: url(./img/slide/5.jpeg);
}

/* -=-=-=-=-=-=-=-=-=-=-=-=- Kategori -=-=-=-=-=-=-=-=-=-=-=-=- */
.kategori {
    padding: 20px;
    overflow: hidden;
}

.kategori img {
    float: right;
}

.kategori1 {
    grid-area: kategori1;
    background: linear-gradient(to left top, rgb(127, 127, 213) 50%, rgb(145, 234, 228) 50%);
    color: darkblue;
}

.kategori2 {
    grid-area: kategori2;
    background: linear-gradient(to left top, rgb(243, 115, 53) 50%, rgb(253, 200, 48) 50%);
    color: brown;
}

.kategori3 {
    grid-area: kategori3;
    background: linear-gradient(to left top, rgb(211, 204, 227) 50%, rgb(233, 228, 240) 50%);
    color: darkslategray;
}

.kategori4 {
    grid-area: kategori4;
    background: linear-gradient(to left top, rgb(238, 156, 167) 50%, rgb(255, 221, 225) 50%);
    color: maroon;
}

/* -=-=-=-=-=-=-=-=-=-=-=-=- Responsive -=-=-=-=-=-=-=-=-=-=-=-=- */
@media (max-width: 800px) {
    nav input {
        width: 70%;
    }

    .container {
        padding: 20px 30px;
    }

    header {
        grid-template-areas:
            'slider kategori1'
            'slider kategori2'
            'kategori3 kategori4';
    }

    .slider {
        min-height: 300px;
    }

    .kategori {
        min-height: 150px;
    }
}

@media (max-width: 600px) {
    nav {
        padding: 10px 25px;
    }

    header {
        grid-template-areas:
            'slider slider'
            'kategori1 kategori2'
            'kategori3 kategori4';
    }
}