* {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', arial, serif;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #3d5af1;
    display: inline-block;
}

a:hover {
    color: slategray;
}

input,
button {
    border: 1px solid lightgray;
    padding: 5px;
}

button,
.btn-primary,
.btn-secondary,
.btn-danger,
.btn-info {
    cursor: pointer;
    background-color: #3d5af1;
    color: #fff;
    border: none;
    transition: .3s;
}

button:hover,
.btn-primary:hover {
    background-color: azure;
    color: #3d5af1;
}

.btn-secondary {
    background-color: #fff;
    color: darkslategray;
}

.btn-secondary:hover {
    background-color: darkslategray;
    color: #fff;
}

.btn-danger {
    background-color: maroon;
    color: #fff;
}

.btn-danger:hover {
    background-color: #fff;
    color: maroon;
}

.btn-info {
    background-color: brown;
    color: #fff;
}

.btn-info:hover {
    background-color: #fff;
    color: brown;
}

.btn-primary,
.btn-secondary,
.btn-danger,
.btn-info {
    padding: 10px;
}

.green {
    color: green;
}

.grey {
    color: grey;
}

.flex {
    display: flex;
    justify-content: space-between;
}

.mt3 {
    margin-top: 30px;
}

.mt5 {
    margin-top: 50px;
}

/* -=-=-=-=-=-=-=-=-=-=-=-=- Nav -=-=-=-=-=-=-=-=-=-=-=-=- */
nav {
    padding: 10px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 1px lightgray;
    position: fixed;
    right: 0;
    left: 0;
    background-color: #fff;
    z-index: 1;
}

nav input {
    width: 400px;
}

/* -=-=-=-=-=-=-=-=-=-=-=-=- Container -=-=-=-=-=-=-=-=-=-=-=-=- */
.container {
    padding: 7% 5%;
}

/* -=-=-=-=-=-=-=-=-=-=-=-=- Header -=-=-=-=-=-=-=-=-=-=-=-=- */
header {
    display: grid;
    gap: 10px;
    grid-template-areas:
        'slider kategori1 kategori2'
        'slider kategori3 kategori4';
    min-height: 300px;
}

/* -=-=-=-=-=-=-=-=-=-=-=-=- Slider -=-=-=-=-=-=-=-=-=-=-=-=- */
.slider {
    grid-area: slider;
    background-color: black;
    overflow: hidden;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
}

.slide {
    display: flex;
    min-width: 500%;
    height: 100%;
    transition: .5s;
    /* transform: translateX(-20%); */
}

.slide>* {
    background-size: cover;
    background-position: center;
    width: 100%;
}

.img1 {
    background-image: url(./img/slide/1.jpeg);
}

.img2 {
    background-image: url(./img/slide/2.jpeg);
}

.img3 {
    background-image: url(./img/slide/3.jpeg);
}

.img4 {
    background-image: url(./img/slide/4.jpeg);
}

.img5 {
    background-image: url(./img/slide/5.jpeg);
}

/* -=-=-=-=-=-=-=-=-=-=-=-=- Radio Button -=-=-=-=-=-=-=-=-=-=-=-=- */
.slider input[type=radio] {
    display: none;
}

.slidernav {
    display: flex;
    position: absolute;
}

.slider label {
    width: 20px;
    height: 20px;
    border: 2px solid #fff;
    margin: 6px;
    cursor: pointer;
    transition: .3s;
}

.slider label:hover {
    background-color: #fff;
}

.active {
    background-color: #fff;
}

#radio1:checked~.slide {
    transform: translateX(0);
}

#radio2:checked~.slide {
    /* transform: translateX(-20%); */
    margin-left: -20%;
}

#radio3:checked~.slide {
    transform: translateX(-40%);
}

#radio4:checked~.slide {
    transform: translateX(-60%);
}

#radio5:checked~.slide {
    transform: translateX(-80%);
}

/* -=-=-=-=-=-=-=-=-=-=-=-=- Kategori -=-=-=-=-=-=-=-=-=-=-=-=- */
.kategori {
    padding: 20px;
    overflow: hidden;
}

.kategori img {
    float: right;
}

.kategori1 {
    grid-area: kategori1;
    background: linear-gradient(to left top, rgb(127, 127, 213) 50%, rgb(145, 234, 228) 50%);
    color: darkblue;
}

.kategori2 {
    grid-area: kategori2;
    background: linear-gradient(to left top, rgb(243, 115, 53) 50%, rgb(253, 200, 48) 50%);
    color: brown;
}

.kategori3 {
    grid-area: kategori3;
    background: linear-gradient(to left top, rgb(211, 204, 227) 50%, rgb(233, 228, 240) 50%);
    color: darkslategray;
}

.kategori4 {
    grid-area: kategori4;
    background: linear-gradient(to left top, rgb(238, 156, 167) 50%, rgb(255, 221, 225) 50%);
    color: maroon;
}

/* -=-=-=-=-=-=-=-=-=-=-=-=- Product Slider -=-=-=-=-=-=-=-=-=-=-=-=- */
.productslider {
    display: flex;
    justify-content: space-between;
}

.productitem {
    flex: 1;
    padding: 10px;
}

.productitem img {
    width: 170px;
}

.prev,
.next {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0.3;
    color: grey;
    cursor: pointer;
}

.prev:hover,
.next:hover {
    background-color: azure;
}

/* -=-=-=-=-=-=-=-=-=-=-=-=- Product Detail -=-=-=-=-=-=-=-=-=-=-=-=- */
.product-header {
    height: 300px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
}

.product-header .foto {
    background-color: darkslategray;
    /* grid-area: foto; */
    width: 300px;
    height: 300px;
}

.product-header .harga>* {
    margin: 10px 0;
}

/* -=-=-=-=-=-=-=-=-=-=-=-=- Responsive -=-=-=-=-=-=-=-=-=-=-=-=- */
@media (max-width: 1024px) {
    .container {
        padding-top: 10%;
    }

    header {
        grid-template-areas:
            'slider kategori1'
            'slider kategori2'
            'kategori3 kategori4';
    }

    .slider {
        min-height: 300px;
    }

    .kategori {
        min-height: 150px;
    }

    .productitem4,
    .productitem5 {
        display: none;
    }
}

@media (max-width: 768px) {
    nav {
        padding: 10px 15px;
        font-size: 12px;
    }

    nav h1 {
        font-size: 12px;
    }

    nav input {
        width: 70%;
    }

    .container {
        padding-top: 15%;
    }

    header {
        grid-template-areas:
            'slider slider'
            'kategori1 kategori2'
            'kategori3 kategori4';
    }

    .kategori a {
        margin-top: 10px;
    }

    .productitem3 {
        display: none;
    }

    .productitem img {
        width: 140px;
    }

    .product-header {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        font-size: 0.8em;
    }
}